/* facebook fancy button */
.facebook-style-btn{
    border-radius: 2px;
    font-size: 0.9rem;
    padding: 6px 12px;
}
/* facebook-dark-button */
.facebook-style-dark{
   -moz-box-shadow: insect 0 1px 0 0 #4d73bf;
    -webkit-box-shadow: insect 0 1px 0 0 #4d73bf;
    box-shadow: insect 0 1px 0 0 #4d73bf;
    background: #4267b2;
    border: 1px solid #4267b2;
    color: white;
    text-shadow: 0 1px 0 #3359a5;
}
.facebook-style-dark:hover{
    background: #2b54a7;
}
.facebook-style-dark:active{
    background: #1d4698;
    border-color: #1d4698;
}
/* facebook button light */
.facebook-style-light{
    background: #f6f7f9;
    border: 1px solid #ced0d4;
    color: #4b4f5c;
}
.facebook-style-light:hover{
    background: #e9ebee;
}
.facebook-style-light:active{
    background: #d8dade;
    border-color: #d8dade;
}

/* 3D button-1*/
.gradient-btn-1{
    position: relative;
    background: orangered;
    border: none;
    color: white;
    padding: 15px 24px;
    font-size: 1.4rem;
    box-shadow: -6px 6px 0 hsl(16, 100%,30%);
    outline: none;
}
.gradient-btn-1:hover{
    background: hsl(16, 100%,45%);
}
.gradient-btn-1:active{
    background: hsl(16, 100%,40%);
    top: 3px;
    left: -3px;
    box-shadow: -3px 3px 0;
}
/* 3D button-2 */
.gradient-btn-2{
    position: relative;
    background: #ecd300;
    background: -webkit-radial-gradient(hsl(54,100%,50%)hsl(54,100%,40%));
    background: -o-radial-gradient(hsl(54,100%,50%)hsl(54,100%,40%));
    background: -moz-radial-gradient(hsl(54,100%,50%)hsl(54,100%,40%));
    background: radial-gradient(hsl(54,100%,50%)hsl(54,100%,40%));

    font-size: 1.4rem;
    text-shadow: 0 -1px 0 #c3af07;
    color: white;
    border: 1px solid hsl(54,100%,20%);
    border-radius: 100%;
    height: 120px;
    width: 120px;
    z-index: 4;
    





}